<p id="notice"><%= notice %></p>

<p>
  <strong>Percentage:</strong>
  <%= @promotion.percentage %>
</p>

<p>
  <strong>Start:</strong>
  <%= @promotion.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @promotion.end %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
