<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Picture</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.picture %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= product.quantity %></td>
      <td><%= product.latitude %></td>
      <td><%= product.longitude %></td>

      <td><%= link_to 'Show', product %></td>
      <td><%= link_to 'Edit', edit_product_path(product) %></td>
      <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Product', new_product_path %>

<div id="world-card" style="height:500px;">

</div>

<script>
  var mymap = L.map('world-card').setView([46.34, 3.21], 6);

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoiaGlwcGNoeiIsImEiOiJjamp0bzFjcjk5ODBwM3FsZjY4eTRmZGw2In0.uO3oap7whdU4iJu0SGYigw'
  }).addTo(mymap);

  var markerz = L.marker([43.3, 5]).addTo(mymap);

  <% @products.each do |product| %>
  var marker = L.marker([<%= product.latitude %>,<%= product.longitude %> ]).addTo(mymap);
  console.log("Un markeur ça mark ");
  console.log("longitude " + <%= product.longitude %>);
  
<% end %>
</script>



